@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Lato:wght@300&family=Montserrat:wght@300&family=Oswald:wght@200&display=swap');

body{
    font-family: Cairo, sans-serif;
    font-weight: 300;
    color: black ;
}

#logo{
    font-family: Cairo, sans-serif;
    color: black;
}

#menu{

    font-family: Cairo, sans-serif;
    color: black;
}